.idea/

LLMLegalAssistantDataset/
dataset/
datasets/
repilcate-api-key.*
hf-api-key.*
*api-key*
api.*

__pycache__/
.mypy_cache/

LLMLegalAssistant.egg-info/

# add environment name here if created in project directory
.llmcoder.env/
llmcoder.env/
venv/
.venv/
