.idea/

# datasets
LLMLegalAssistantDataset/
dataset
datasets

# keys
*api-key*

# cache
__pycache__/
.mypy_cache/
LLMLegalAssistant.egg-info/

# add environment name here if created in project directory
.llmcoder.env/
llmcoder.env/
venv/
.venv/

# tests
*test*.py
