pre-commit
beautifulsoup4
flake8
isort
markdownify
pandas
requests
llama-index
llama-index-core
llama-index-readers-elasticsearch
llama-index-vector-stores-opensearch
llama-index-embeddings-huggingface
langchain
