pre-commit
beautifulsoup4
flake8
isort
markdownify
pandas
requests
pypdf
chromadb
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
transformers
sentence-transformers
sentence_transformers
llama-index
llama-index-core
llama-cpp-python
llama-index-llms-openai
llama-index-llms-llama-cpp
llama-index-readers-elasticsearch
llama-index-vector-stores-opensearch
llama-index-retrievers-bm25
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-llms-huggingface
llama-index-llms-langchain
langchain
langchain_community
langchain_experimental
bitsandbytes
accelerate
evaluate
bert_score
